#note-content{
  margin: 4vh 8vw 0 8vw;
  width: 82vw;
  height: 100%;
  position: relative;
}

#note-content-right{
  width: 20vw;
  position: absolute;
  right: 0;
  top: 0;
}

#note-content-right-fixed{
  width: 20vw;
  position: fixed;
  right: 10vw;
  top: 10vh;
}

.note-content-right-hidden {
  visibility: hidden;
}