#note-content-notes-noteitems{
  width: 57vw;
  height: 11vh;
  border-radius: 1vw;
  margin-top: 1.5vw;
  background-color: white;
  padding: 2vh 1.5vw;
  position: relative;
}

#note-content-notes-noteitems-tittle{
  font-size: 3vh;
  font-weight: 400;
}

#note-content-notes-noteitems-time{
  font-size: 1.5vh;
  color: #333;
  padding-top: .5vh;
}

#note-content-notes-noteitems-tag{
  position: absolute;
  bottom: 2vh;
  div{
    height: 3vh;
    padding: 0 1vh;
    font-size: 2vh;
    margin-right: 1vh;
    display: inline-block;
    background-color: aquamarine;
    border-radius: .6vh;
  }
}