#record-content-citems{
  width: 50vw;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: url(../../../../../assets/images/screen1.png) center center no-repeat;
  // background-size: 70%;
  // -webkit-transition-duration: 1s; /* Safari */
  // transition-duration: 1s;
}

#record-content-citems-screen{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: visible;
  // background: url(../../../../assets/images/screen1.png) center center no-repeat;
  background: url(https://tva1.sinaimg.cn/large/e6c9d24ely1h14vdpij7xj20pk0jd3yt.jpg) center center no-repeat;
  width: 30%;
  height: 40%;
  background-size: 100%;
  -webkit-transition-duration: .5s; /* Safari */
  transition-duration: .5s;
}

#record-content-citems-screen:hover{
  display: flex;
  justify-content: center;
  width: 75%;
  height: 80%;
}