#topbar{
  width: 100vw;
  height: 6vh;
  background-color: rgb(10, 12, 18);
  display: flex;
  justify-content: space-between;
}

#topbar-left{
  /* background-color: aqua; */
  width: 10vh;
  height: 6vh;
}

#topbar-left svg{
  /* background-color: blue; */
  fill: rgb(216, 216, 216);
  width: 1.8vh;
  height: 1.8vh;
  padding-left: 4.1vh;
  padding-top: 2.1vh;
}

#topbar-left svg rect{
  width: 1.8vh;
  height: 0.4vh;
}

#topbar-middle{
  color: white;
  width: 8vh;
  height: 10vh;
  background-color: rgb(10, 12, 18);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%)
}

#topbar-right{
  /* background-color: aquamarine; */
  width: 10vh;
  height: 6vh;
}

#topbar-right svg{
  /* fill: rgb(216, 216, 216); */
  /* background-color: blue; */
  fill: rgb(216, 216, 216);
  width: 1.8vh;
  height: 1.8vh;
  padding-left: 4.1vh;
  padding-top: 2.1vh;
}

#topbar-right svg rect{
  width: 1.8vh;
  height: 0.4vh;
}