#note-banner{
  width: 100vw;
  height: 45vh;
  background-color: #71838F;
  // background-color: #B7E0FF;
}

#note-banner-tit{
  font-size: 10vh;
  line-height: 45vh;
  text-align: center;
  font-weight: 900;
}