#note-banner{
  width: 100vw;
  height: 25vw;
  overflow: hidden;
  // background-color: #71838F;
  // background-color: #B7E0FF;
  img {
    width: 100%;
  }
}

// #note-banner-tit{
//   font-size: 10vh;
//   line-height: 45vh;
//   text-align: center;
//   font-weight: 900;
// }